language: ruby
cache: bundler
rvm:
- &latest_ruby 2.7
- 2.5

before_install:
- gem update --system
- gem install bundler

script: script/cibuild

env:
  global:
  - NOKOGIRI_USE_SYSTEM_LIBRARIES=true
  matrix:
  - JEKYLL_VERSION="~> 3.8"

matrix:
  include:
  # GitHub Pages
  - rvm: 2.5.3
    env:
    - JEKYLL_VERSION="~> 3.8.5"
    - GITHUB_PAGES=1 # Only set on one build in matrix
  - rvm: *latest_ruby
    env: JEKYLL_VERSION="~> 4.0"

notifications:
  irc:
    on_success: change
    on_failure: change
    channels:
    - irc.freenode.org#jekyll
    template:
    - '%{repository}#%{build_number} (%{branch}) %{message} %{build_url}'
  email:
    on_success: never
    on_failure: never
